.background-color{
    background-color: #264653 !important;
}
.text-color{
    color: #E0E0E0 !important;
}
.nav-link{
    color:  #E0E0E0 !important ;
}

.btn{
    background-color: #E76F51 !important;
}
.my-text-color{
                color: #E76F51;
}
.border-bottom{
    
    border-bottom: 2px solid #E76F51 !important;
}

.icon{
    color: gold;}

    .footer{
        margin-top: 100px !important;
        height: 150px;
        text-align: center !important;
        padding-top: 40px;
        font-size: small;
        
    }


